@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
/* start main rules */
*{
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body{ background-color: #e5ebf8; overflow-y: scroll }
header{
    overflow: hidden;
    background-color: #eaeaea;
    padding: 30px 15px;
    color: #231f20;
    font-weight: 600;
    text-transform: uppercase
}
header .brand{ display: flex; padding-top: 5px }
header .brand h2{ font-size: 1em; padding: 0; margin: 0 }
header .dep-name{ padding-top: 5px; display: flex; justify-content: flex-end }

header .dep-name h3,
header .dep-name span{ font-size: .9em; margin: 0; padding: 0 }
header .dep-name span{ font-size: .7em; font-weight: 500 }
.back{ padding: 10px 0; display: block }
.back i{
    padding: 5px 8px;
    background-color: rgba(37, 170, 145, 1);
    color: #FFF; border-radius: 5px
}
.user{
    width: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(31, 81, 154, 1), rgba(37, 170, 145, 1) 50%);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.user img{
    float: left;
    width: 20%;
    margin-right: 10px;
    background-color: #FFF;
    border-radius: 5px;
}
.user div{ float: left; width: 60%; color: #FFF }
.user div h4{ margin: 0; font-size: 1em; text-transform: uppercase; font-weight: 400 }
.user div ul{ list-style: none; margin: 0; padding: 0 }
.user div ul li{ font-size: .7em; text-transform: capitalize; font-weight: 300 }
.user div ul li label{
    width: 17%;
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}
.user div ul li span{ display: inline-block; margin-left: 3px; width: 60% }
/* end main rules */
/* start login page */
.left,
.right{
    background-color: #FFF;
    width: 100%;
    margin: 8% auto;
    height: 520px;
    padding: 35px 50px;
    box-shadow: 0px 0px 12px 5px #c7d4e7;
}
.left{background-image: url('../images/BgLogin.jpg')}
.right .brand{padding: 10px 0}
.right .brand h1{ text-transform: uppercase; font-weight: 400; font-size: 1.5em }
.right .info h2{
    font-size: .85em;
    text-transform : uppercase;
    color: #22509b;
    opacity: .9;
    margin-bottom: 20px;
    font-weight: 400;
}
.right .info .form-control{
    border-radius: 0;
    border: none;
    box-shadow: none;
    height: 32px;
}
.right .info form .form-group:not(:last-of-type) .form-control{
    border-left: 4px solid #22509b;
    background-color: #f8f8f8;
}
.right .info form .form-group:last-of-type .form-control{
    background: linear-gradient(90deg, rgba(31, 81, 154, .8), rgba(37, 170, 145, .8) 50%);
    margin-top: 5px;
    border-radius:25px;
    color: #FFF;
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 100;
}
.right .info .form-control::placeholder,
.right .info .form-group .nice-select{
    color: #d2d3d5;
    text-transform: capitalize;
    font-size: .9em;
}
.right .info .form-group .nice-select{
    line-height: normal;
    width: 100%;
    padding: 6px 12px;
}
.right .info .form-group .nice-select .option:hover,
.right .info .form-group .nice-select .option.focus,
.right .info .form-group .nice-select .option.selected.focus{
    background-color: #f8f8f8;
    font-weight: normal;
}
.right .info .form-group .nice-select:after{
    height: 12px;
    width: 12px;
    border-bottom: 2px solid #22509b;
    border-right: 2px solid #22509b;
    margin-top: -8px;
} 
.right .info .nice-select.open .list{ width: 100% }
/* end login page */
/* start article page */
.article header{
    overflow: hidden;
    background-color: #eaeaea;
    padding: 30px 15px;
    color: #231f20;
    font-weight: 600;
    text-transform: uppercase;
}
.article header .brand{
    float: left;
    width: 30%;
    display: flex;
    padding-top: 5px;
}
.article header .brand h2{ font-size: 1em; padding: 0; margin: 0 }
.article header .dep-name{
    float: right;
    width: 70%;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
}
.article header .dep-name h3,
.article header .dep-name span{
    font-size: .9em;
    margin: 0;
    padding: 0;
}
.article header .dep-name span{ font-size: .7em; font-weight: 500 }
.article .back{ padding: 10px 15px }
.article .back i{
    padding: 5px 8px;
    background-color: rgba(37, 170, 145, 1);
    color: #FFF;
    border-radius: 5px;
}
.article .user-info{ padding: 0 15px; overflow: hidden }
.article .user-info .user{
    width: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(31, 81, 154, 1), rgba(37, 170, 145, 1) 50%);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.article .user-info .user img{
    float: left;
    width: 20%;
    margin-right: 10px;
    background-color: #FFF;
    border-radius: 5px;
}
.article .user-info .user div{ float: left; width: 60%; color: #FFF }
.article .user-info .user div h4{
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
}
.article .user-info .user div ul{ list-style: none; margin: 0; padding: 0 }
.article .user-info .user div ul li{ font-size: .7em; text-transform: capitalize; font-weight: 300 }
.article .user-info .user div ul li label{
    width: 17%;
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}
.article .user-info .user div ul li span{ display: inline-block; margin-left: 3px; width: 60% }
.article .user-info .user-progress{position: relative; margin-top: 15px }
.article .user-info .user-progress h2{ text-transform: uppercase; font-size: 1.1em }
.article .user-info .user-progress .bar{ height: 25px; background-color: #e2e2e2; width: 100% }
.article .user-info .user-progress .bar .progress{
    width: 56%;
    background-color: #24ab92;
    display: block;
    height: 100%;
    border-radius: 0;
    margin: 0;
    animation: progress-loading 2s ease-in-out;
}
.article .user-info .user-progress .index{
    position: absolute;
    top: -10px;
    left: calc(100% - 56% + 6%);
    animation: moving 2.1s ease-in-out;
}
.article .user-info .user-progress .index span{
    display: inline-block;
    border: 1px solid #24ab92;
    color: #24ab92;
    padding: 5px;
    position: relative;
    top: -10px;
}
.article .user-info .user-progress > .index span:before{
    content:'';
    border-width: 7px;
    border-style: solid;
    border-color:#FFF;
    position: absolute;
    top: 20px;
    left: 12px;
}
.article .user-info .user-progress > .index span:after{
    content: '';
    border-right: 1px solid #24ab92;
    border-bottom: 1px solid #24ab92;
    height: 10px;
    width: 10px;
    display: block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 26px;
    left: 14px;
}
.article .dep{ padding: 15px }
.article .dep .dep-info{ overflow: hidden }
.article .dep .dep-info .dep-name{ width: 47%; float: left }
.article .dep .dep-info .dep-name h2{ text-transform: uppercase; font-size: .8em; margin: 0 }
.article .dep .dep-info .dep-group{ width: 50%; float: left; display: flex; justify-content: flex-start}
.article .dep .dep-info .dep-group{ background-color: #aeaeae }
.article .dep .dep-info .dep-group span{
    display: flex;
    width: 50%;
    position: relative;
    color: #FFF;
    text-transform: uppercase;
    font-size: .8em;
    padding-right: 2px;
    padding-left: 12px;
    justify-content: flex-start;
}
.article .dep .dep-info .dep-group span:after{
    content: "";
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent #aeaeae;
    position: absolute;
    right: -16px;
    top: auto;
    left: auto;
    bottom: auto;
}
.article .dep .dep-info .dep-group span:first-child{ background-color: #24ab92 }
.article .dep .dep-info .dep-group span:first-child:after{
    border-color: transparent transparent transparent #24ab92
}
.article .dep hr{ border-top: 2px solid #eee; margin: 0 }
.article .pages{ margin-top: 10px; overflow: hidden }
.article .pages a:not(:last-child){
    width: 23%;
    background-color: #efefef;
    color: #FFF;
    margin: 0;
    float: left;
    margin-bottom: 15px;
    text-align: center;
    padding-right:5px;
    text-decoration: none;
}
.article .pages a span{
    background-color:#aeaeae;
    width: 100%;
    display: inline-block;
    font-weight: 300;
    text-transform: uppercase;
    padding: 2px 0;
    font-size: .9em;
}
.article .pages a span.active{ background-color: #24ab92 }
.article .pages a button{
    float: right;
    border: 0;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    padding: 2px 30px;
    border-radius: 25px;
    background-color: #aeaeae;
    font-weight: 300;
    font-size: .9em;
    margin: 0;
}
@-webkit-keyframes progress-loading{ 0%{ width: 0 } 100%{ width: 56% }}
@-moz-keyframes progress-loading{ 0%{ width: 0 } 100%{ width: 56% }}
@-o-keyframes progress-loading{ 0%{ width: 0 } 100%{ width: 56% }}
@keyframes progress-loading{ 0%{ width: 0 } 100%{ width: 56% }}

@-webkit-keyframes moving{ 0%{left: 0; opacity: 0 } 100%{ left: calc(100% - 56% + 6%); opacity: 1 }}
@-moz-keyframes moving{ 0%{ left: 0; opacity: 0 } 100%{ left: calc(100% - 56% + 6%); opacity: 1 }}
@-o-keyframes moving{ 0%{ left: 0; opacity: 0 } 100%{ left: calc(100% - 56% + 6%); opacity: 1 }}
@keyframes moving{ 0%{ left: 0; opacity: 0 } 100%{ left: calc(100% - 56% + 6%); opacity: 1 }}
/* end article page */
/*start pages*/
.pages .user-info{ padding: 0 15px }
.pages .chronograph{ padding: 15px; overflow: hidden }
.pages .chronograph>.header{ padding-top: 15px; width: 45%; float: left }
.pages .chronograph .header h3{
    color: #494949;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
}
.pages .chronograph .header span{
    font-size: 1.5em;
    text-transform: uppercase;
    display: block;
    color: #231f20;
    font-weight: 500;
}
.pages .chronograph .timer-group{ position: relative; width: 55%; float: left }
.pages .chronograph .timer{
    padding: 10px;
    background-color: #CCC;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    width: 120px;
    height: 120px;
    margin: auto;
}
/*pages outer circle*/
.pages .chronograph .timer .circular_graph {
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
    background-image: url('../images/clockface.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    border: 2px solid rgb(0, 199, 189);
}
/*pages inner circle*/
.pages .chronograph .timer .circular_graph:after {
    position: relative;
    border-radius: 50%;
    content: "";
    display: block;
    background: #00cccc;
    height: 70%;
    width: 70%;
    margin: auto;
    margin-top: calc((100% - 70%)/2)
} 
.pages .chronograph .timer .circular_graph .fill {
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 50%   
}
  
.pages .chronograph .timer .circular_graph .fill span {
    border: 48px solid rgba(0, 204, 204, .4);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    display: block;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(225deg);
    width: 0;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 3600s
} 
.pages .chronograph .timer .circular_graph .fill:first-child { transform: rotate(180deg) }
.pages .chronograph .timer .circular_graph .fill:first-child span { animation-name: spin1 }
.pages .chronograph .timer .circular_graph .fill:last-child span { animation-name: spin2 }
/*timer counter*/
.pages .chronograph .timer .lazy{
    position: absolute;
    top: calc((100% / 2) - 20px);
    left: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
}
.pages .chronograph .timer .lazy div{ font-size: larger }
.pages .chronograph .timer .lazy span{ display: block; font-size: small; margin-top: -5px }

@-webkit-keyframes spin1 {
    0% { transform: rotate(225deg) }
    50% { transform: rotate(225deg) }
    100% { transform: rotate(405deg) }
}
@-moz-keyframes spin1 {
    0% { transform: rotate(225deg) }
    50% { transform: rotate(225deg) }
    100% { transform: rotate(405deg) }
}
@-o-keyframes spin1 {
    0% { transform: rotate(225deg) }
    50% { transform: rotate(225deg) }
    100% { transform: rotate(405deg) }
}
@keyframes spin1 {
    0% { transform: rotate(225deg) }
    50% { transform: rotate(225deg) }
    100% { transform: rotate(405deg) }
}
@-webkit-keyframes spin2 {
    0% { transform: rotate(225deg) }
    50% { transform: rotate(405deg) }
    100% { transform: rotate(405deg) }
}
@-moz-keyframes spin2 {
    0% { transform: rotate(225deg) }
    50% { transform: rotate(405deg) }
    100% { transform: rotate(405deg) }
}
@-o-keyframes spin2 {
    0% { transform: rotate(225deg) }
    50% { transform: rotate(405deg) }
    100% { transform: rotate(405deg) }
}
@keyframes spin2 {
    0% { transform: rotate(225deg) }
    50% { transform: rotate(405deg) }
    100% { transform: rotate(405deg) }
}
.pages .slider{ overflow: hidden; display: block; padding: 10px 15px }
.pages .slider .carousel{ height: 300px; background-color: #a2a2a2; border-radius: 10px; padding: 30px }
.pages .slider .carousel .carousel-inner{ height: 100% }

.pages .slider .carousel .carousel-inner>.item{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
}
.pages .slider .carousel-inner>.item.active,
.pages .slider .carousel-inner>.item.next.left,
.pages .slider .carousel-inner>.item.prev.right{ background: none }

.pages .slider .carousel .carousel-inner>.item p{
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 1.2em;
    padding: 0 10px;
    line-height: 1.6;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: justify;
    overflow-y: auto;
}
.pages .slider .carousel .carousel-inner i{
    position: absolute;
    right: 2px;
    top: auto;
    left: auto;
    bottom: 5px;
}
.pages .slider .carousel .carousel-inner:hover i{ animation: viber-chevron .6s 5 ease-in-out }
.pages .slider .carousel .right,
.pages .slider .carousel .left{
    background-color: transparent;
    box-shadow: none;
    padding: 0 10px;
    background-image: none;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}
.pages .slider .carousel .left{ text-align: left }
.pages .slider .carousel .right{ text-align: right }
.pages .slider .carousel .carousel-indicators{ bottom: 0 }

.pages .slider .carousel .carousel-indicators li{
    border: 2px solid #c8c8c8;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.pages .slider .carousel .carousel-indicators .active {
    width: 20px;
    height: 20px;
    background-color: #73cab7;
}
.pages .slider .carousel .carousel-indicators li span{
    display: block;
    height: 8px;
    width: 8px;
    background-color: #FFF;
    margin: 4px auto;
    border-radius: 50%;
}
@-webkit-keyframes viber-chevron{ 0%{ bottom: 2px } 50%{ bottom: 8px } 100%{ bottom: 5px }}
@-moz-keyframes viber-chevron{ 0%{ bottom: 2px } 50%{ bottom: 8px } 100%{ bottom: 5px }}
@-o-keyframes viber-chevron{ 0%{ bottom: 2px } 50%{ bottom: 8px } 100%{ bottom: 5px }}
@keyframes viber-chevron{ 0%{ bottom: 2px } 50%{ bottom: 8px } 100%{ bottom: 5px }}

.pages .btn-completed{ padding: 15px; margin-bottom: 15px }
.pages .btn-completed a{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 8px 50px;
    border-radius: 25px;
    background-color: #a2a2a2;
    display: block;
    margin: auto;
    width: 60%;
}
/*end pages*/
/*start dashboard*/
.dashboard { margin: 30px 0 }
.dashboard .home{ padding: 0 15px; background-color: white }

.dashboard .home .user-info h2,
.dashboard .home .departement h2,
.dashboard .home .progress-info h2{
    margin: 0;
    padding: 15px 0;
    text-transform: uppercase;
    font-size: 1.4em;
}
.dashboard .home .departement .dep-item{ overflow: hidden }
.dashboard .home .departement .dep-item a{
    text-decoration: none;
    display: block;
    float: left;
    padding-right: 5px;
    margin: 0;
    text-transform: uppercase;
    background-color: #efefef;
    color: white;
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
    min-width: 30%;
}
.dashboard .home .departement .dep-item a span{
    background-color: #aeaeae;
    padding: 0 15px;
    height: 100%;
    display: block;
}
.dashboard .home .departement .dep-item a span.active{ background-color: #24ab92 }
.dashboard .progress-info .circular-progress-bar { position: relative; margin: 0 auto }
.dashboard .progress-info .progress-percentage,
.dashboard .progress-info .progress-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0px 60px;
    line-height: 50%;
    color: #24ab92;
}
.dashboard .progress-info .progress-percentage {
	font-size: 60px;
    transform: translate(-50%, -85%);
}
.dashboard .progress-info .progress-text {
    transform: translate(-50%, 0%);
    font-size: 21px;
    width: 215px;
    height: 215px;
    border-radius: 50%;
    top:44px;
    border: 15px solid #c8c8c8;
}
canvas{ position: relative; z-index: 999 }
/*end dashboard*/
/*Start Group*/
.article,.pages{ background-color: #FFF; margin: 30px 0 }
/*End Group*/
/* mall devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /*start main rules*/
    .user img{ width: 26% }
    .user div{ width: 68% }
    /*end main rules*/

    /*start login page*/
    .right{ width: 70%; box-shadow: 0px 0px 30px 12px #c7d4e7 }
    .right .info h2{ font-size: 1.1em }
    /*end login page*/

    /*start article page*/
    .article .user-info .user img{ width: 26% }
    .article .user-info .user div{ width: 68% }
    .article .user-info .user-progress{ top: 20px; right: auto; left: auto; bottom: auto }
    /*end article page*/

    /*start dashbord */
    .dashboard .home .user-info{ width: 70% }
    /*end dashboard*/
}
@media (min-width: 576px) and (max-width:767px){
    .article .user-info .col-xs-12{ width: 50% !important }
    /* start pages */
    .pages .page{ overflow: hidden }
    .pages .user-info{ width: 45%; float: left }
    .pages .chronograph{ width: 55%; float: left }
    /* end pages */
}
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*start main rules*/
    .user img{ width: 28% }
    .user div{ width: 60%; font-size: 1em }
    /*end main rules*/

    /*start header */
    header{ padding: 40px 15px }
    header .brand h2{ font-size: 1.8em }
    header .dep-name h3{ font-size: 1.3em }
    header .dep-name span{ font-size: 1em }
    /*end header*/

    /*start articles page*/
    .article header{ padding: 40px 15px }
    .article header .brand h2{ font-size: 1.8em }
    .article header .dep-name h3{ font-size: 1.3em }
    .article header .dep-name span{ font-size: 1em }
    .article .user-info .user img{ width: 30% }
    .article .user-info .user div{ width: 60%; font-size: 1em }
    
    .article .user-info .user-progress {
        position: relative;
        margin-top: 15px;
        top: 20px;
        bottom: auto;
        left: auto;
        right: auto;
    }
    .article .user-info .user-progress h2{ font-size: 1.4em }
    .article .dep .dep-info .dep-group{ margin-bottom: 2px }
    .article .dep .dep-info .dep-name h2{ font-size: 1.4em; padding: 10px 0 0 }
    
    .article .dep .dep-info .dep-group span{
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 1em;
        padding-left: 18px;
    }
    .article .dep .dep-info .dep-group span:after{
        border-width: 13px;
        top: 0;
        right: -26px;
    }
    .article .pages a span{ font-size: 1em }
    .article .pages a button{ font-size: 1em; padding: 3px 40px }
    /*end articles page*/
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    /*start header*/
    header{ padding: 50px 15px }
    header .brand h2{ font-size:2.5em }
    header .dep-name h3{ font-size: 1.8em }
    header .dep-name span{ font-size: 1.4em }
    /*end header*/

    /* Start Login */
    .containt{ box-shadow: 0 0 30px 12px #c7d4e7; display: flex; margin:45px 80px }
    .col-md-6{ padding-left: 0; padding-right: 0 }
    .left, .right{ width: 100%; box-shadow: none; margin: 0 }
    .left{ background-color: #888 }
    /* End Login */

    /*start articles page*/
    .article header{ padding: 50px 15px }
    .article header .brand h2{ font-size:2.5em }
    .article header .dep-name h3{ font-size: 1.8em }
    .article header .dep-name span{ font-size: 1.4em }
    /*end article page*/

    /*start dashboard*/
    .dashboard .home .user-info{ width: 50% }
    /*end dashboard*/
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /*start main rules*/
    .user img{ width: 32%; height: 80px }
    .user div h4{ font-size: 1.2em }
    .user div ul li{ font-size:.9em }
    .user div ul li span{ margin-left: 14px }
    /*end main rules*/

    /*start articles page*/
    .article .user-info .user img{ width: 32%; height: 80px }
    .article .user-info .user div h4{ font-size: 1.2em }
    .article .user-info .user div ul li{ font-size:.9em }
    .article .user-info .user div ul li span{ margin-left: 14px }
    .article .pages a:not(:last-child){ width:21% }
    /*end articles page*/
}